* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #1b1924;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

#main {
  background: #1b1924;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

#image {
  width: 90px;
  height: 90px;
  margin-top: 51px;
}

#title {
  font-size: 25px;
  color: white;
}

#title {
  outline: none;
}

#title,
#publish-btn,
#endorsement-p {
  caret-color: transparent;
}

#endorsement-input,
#publish-btn {
  width: 317px;
}

#title,
#publish-btn,
#endorsements-p {
  font-family: "Josefin Sans", sans-serif;
}

input {
  color: white;
  border: none;
  border-radius: 8px;
  background: #444059;
}

#endorsement-input {
  height: 118px;
  padding-left: 19px;
  padding-top: 12px;
  background: #444059;
  border-radius: 8px;
  color: white;
  border: none;
  resize: none;
}

#from-input {
  width: 150px;
  height: 40px;
  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
}

#to-input {
  width: 150px;
  height: 40px;
  margin-left: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
}

#publish-btn {
  height: 61px;
  border-radius: 8px;
  border: none;
  background: #28a9f1;
  font-size: 22px;
  color: #04131c;
  margin-bottom: 19px;
}

#endorsements-p {
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
}

#endorsements-section {
  background-color: white;
}
